body {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
#header, #textov, #box, #four_col,
#full_image, #cvet, #buying, #footer {
    padding: 0 16vw;
    width: 68vw;
    clear: both;
}
.zagolovok {
    font-size: 2.3em;
    font-weight: lighter;
    color: black;
}
a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.textbok {
    transform: rotate(-90deg);
    text-transform: uppercase;
    position: absolute;
    left: 0;
}
.textbok span {
    font-weight: bold;
}

#header {
    height: 53vw;
    background-image: url(../images/head.jpg);
    background-size: cover;
}
#header .textbok {
    top: 35vw;
}
#header .logo {
    padding-top: 2vw;
}
#header .text1, #full_image .text1 {
    font-size: 4em;
    font-weight: 100;
    padding-top: 18vw;
}
#header .text2, #full_image .text2 {
    padding-top: 30px;
    width: 30vw;
}
#header .img1 img {
    height: 53vw;
    width: 47vw;
    position: absolute;
    top: 14vw;
    left: 43vw;
}

#textov {
    height: 30vw;
    color: #959595;
    padding-top: 6vw;
}
#textov .text2 {
    padding-top: 1.5vw;
    width: 33vw;
    text-align: justify;
}
#textov .left {
    float: left;
}
#textov .right {
    float: right;
    padding-top: 10vw;
}

#box {
    padding: 0 15.5vw;
    width: 69vw;
    height: 18vw;
}
#box > div {
    width: 23vw;
    height: 14vw;
}
#box .box1 {
    background-color: #f5989d;
    float: left;
}
#box .box2 {
    background-color: #615f7d;
    float: left;
}
#box .box3 {
    background-image: url(../images/box.jpg);
    float: right;
    background-size: cover;
}
#box .box4 {
    width: 46vw;
    background-image: url(../images/box4.jpg);
    background-size: cover;
    float: left;
}
#box .box5 {
    background-color: #82ca9c;
    float: right;
}
#box .zagolovok {
    padding: 1.5vw 0 0 1.5vw;
    color: #fff;
}
#box .b_text2 {
    padding: 1.5vw 1.5vw 0 1.5vw;
}
#box .box4 .b_text2 {
    padding: 1.5vw 15vw 0 1.5vw;
}
#box .ss, #box .sss {
    position: absolute;
    top: 99.5vw;
    padding-left: 1.5vw;
}
#box .sss {
    top: 113.5vw;
}
#box .box3 .ss::after {
    content: url(../images/heart.png);
    padding-left: 10vw;
}
#box .box4 .sss::after {
    content: url(../images/heart.png);
    padding-left: 30vw;
}

#four_col {
    height: 31vw;
}
#four_col .zagolovok {
    padding-top: 6vw;
    padding-bottom: 3vw;
}
.stolb1, .stolb2, .stolb3, .stolb4 {
    width: 14vw;
    text-align: justify;
}
.stolb1, .stolb2, .stolb3 {
    float: left;
}
.stolb4 {
    float: right;
}
.stolb2 {
    margin-left: 4vw;
    margin-right: 4vw;
}
#four_col .verx {
    color: #67676d;
    font-weight: bold;
    padding-bottom: 1.5vw;
}
#four_col .niz {
    color: #959595;
}
#four_col .textbok {
    top: 120vw;
    color: #b8b8b8;
}

#full_image {
    height: 50vw;
    background-image: url(../images/car.jpg);
    background-size: cover;
}
#full_image .text1 {
    width: 33vw;
    line-height: 1em;
    padding-top: 27vw;
}
#full_image .text2 {
    padding-top: 15px;
}
#full_image .sss {
    padding-top: 15px;
}

#cvet {
    height: 30vw;
    background-color: #82ca9c;
}
#cvet .zagolovok {
    color: #fff;
    padding-top: 7vw;
    padding-bottom: 3.5vw;
}
.stolb10, .stolb20, .stolb30 {
    float: left;
    width: 21vw;
}
.stolb30 {
    float: right;
}
.stolb20 {
    margin-left: 2.5vw;
}
#cvet .niz {
    text-align: justify;
}
#cvet .textbok {
    top: 207vw;
}
#cvet .verx {    
    font-weight: bold;
    padding-bottom: 1.5vw;
}

#buying {
    clear: both;
    height: 35vw;
    background-color: #f6f7fa;
}
#buying .left, #buying .right {
    margin-top: 5vw;
    width: 25vw;
    height: 25vw;
    float: left;
    padding-left: 3vw;
    padding-right: 5vw;
}
#buying .left:hover, #buying .right:hover {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
#buying .right {
    float: right;
}
#buying .rect, #buying .rectbig {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
#buying .rect {
    font-size: 0.8em;
    width: 60px;
    padding: 2px 4px;
    border-radius: 10px;
    background-color: #e1e1e1;
    margin-top: 20px;
}
#buying .left:hover .rect, #buying .right:hover .rect {
    background-color: #bd8cbf;
}
#buying .right .rect {
    width: 110px;
}
#buying .rectbig {
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    background-color: #82ca9c;
}
#buying .zagolovok {
    padding-top: 15px;
}
#buying .osnova {
    color: #8297a7;
    padding: 15px 0;
    text-align: justify;
}
#buying img {
    padding-top: 20px;
    padding-right: 15px;
}

#footer {
    background-color: #192431;
    padding-top: 8vw;
    clear: both;
    height: 32vw;
}
#footer .left_footer {
    width: 37vw;
    float: left;
}
#footer .text_big {
    font-weight: bold;
    padding-bottom: 1vw;
}
#footer .text_small {
    text-align: justify;
}
#footer .snizu {
    padding-top: 4vw;
}
#footer .col1, #footer .col2, #footer .col3 {
    float: left;
    width: 11vw;
}
#footer .col2 {
    margin-left: 2vw;
}
#footer .col3 {
    float: right;
}
#footer .right_footer {
    float: right;
    width: 25vw;
}
#footer .text_mini {
    padding-top: 10px;
    font-size: 0.8em;
    color: #57697f;
    line-height: 1.3em;
    width: 20vw;
}
#footer input {
    height: 3vw;
    border: none;
    background-color: #fff;
    width: 21vw;
}
#footer button {
    background-color: #82ca9c;
    width: 3vw;
    height: 3vw;
    border: none;
    position: relative;
    left: -0.25vw;
    top: 1.1vw;
    background-image: url(../images/Shape.png);
    background-repeat: no-repeat;
    background-size: 2vw 1.5vw;
    background-position: center;
}